.linie-11 {
  position: absolute;
  top: 102.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 100%;
  height: 2px;
}
.shoppyag1 {
  position: absolute;
  top: 31px;
  left: 55px;
  color: var(--color-black);
  cursor: pointer;
}
.linie-41 {
  top: -0.5px;
  left: 261.5px;
  height: 104px;
}
.linie-12,
.linie-41,
.linie-51 {
  position: absolute;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
}
.linie-51 {
  top: -0.5px;
  right: 329.5px;
  height: 101px;
}
.linie-12 {
  top: 102.5px;
  left: 389.5px;
  height: 978px;
}
.datenschutz {
  position: absolute;
  top: 306px;
  left: 96px;
}
.algemein,
.mein-konto,
.sicherheit {
  position: absolute;
  top: 413px;
  left: 100px;
}
.algemein,
.mein-konto {
  top: 520px;
}
.algemein {
  top: 199px;
  left: 96px;
}
.einkaufswagen-icon1 {
  position: absolute;
  top: 17px;
  right: 186px;
  border-radius: var(--br-4xl);
  width: 68px;
  height: 68px;
  object-fit: cover;
}
.zuruck-icon {
  position: absolute;
  top: 20px;
  right: 35px;
  width: 62px;
  height: 62px;
  object-fit: cover;
  cursor: pointer;
}
.rechteck-31,
.rechteck-41,
.rechteck-51 {
  position: absolute;
  top: 37px;
  left: 1179px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 44px;
  height: 35px;
}
.rechteck-31,
.rechteck-41 {
  top: 34px;
  left: 893px;
}
.rechteck-31 {
  top: 37px;
  left: 516px;
}
.einkaufen1 {
  position: absolute;
  top: 32px;
  left: 385px;
}
.linie-2-icon1,
.linie-3-icon1 {
  position: absolute;
  top: 45.5px;
  left: 521px;
  width: 16.78px;
  height: 20.62px;
}
.linie-3-icon1 {
  left: 537.5px;
}
.beste-angebote1,
.kontakt1 {
  position: absolute;
  top: 32px;
  left: 676px;
}
.kontakt1 {
  left: 1069px;
}
.linie-6-icon1,
.linie-7-icon1,
.linie-8-icon1,
.linie-9-icon1 {
  position: absolute;
  top: 41.5px;
  left: 898px;
  width: 16.78px;
  height: 20.62px;
}
.linie-7-icon1,
.linie-8-icon1,
.linie-9-icon1 {
  left: 914.5px;
}
.linie-8-icon1,
.linie-9-icon1 {
  top: 45.5px;
  left: 1184px;
}
.linie-9-icon1 {
  left: 1200.5px;
}
.web-1920-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray);
  font-family: var(--font-segoe-ui);
}
