.rechteck-45,
.rechteck-55 {
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  width: 44px;
  height: 35px;
}
.rechteck-55 {
  position: absolute;
  top: 37px;
  left: 1179px;
  box-sizing: border-box;
}
.rechteck-45 {
  top: 34px;
  left: 893px;
}
.linie-16,
.rechteck-35,
.rechteck-45 {
  position: absolute;
  box-sizing: border-box;
}
.rechteck-35 {
  top: 37px;
  left: 516px;
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray);
  width: 44px;
  height: 35px;
}
.linie-16 {
  top: 102.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-dimgray);
  width: 100%;
  height: 2px;
}
.shoppyag5 {
  position: absolute;
  top: 31px;
  left: 55px;
  color: var(--color-black);
  cursor: pointer;
}
.die-einstellungen-icon4,
.einkaufswagen-icon5 {
  position: absolute;
  top: 22px;
  right: 35px;
  width: 58px;
  height: 58px;
  object-fit: cover;
}
.einkaufswagen-icon5 {
  top: 17px;
  right: 186px;
  border-radius: var(--br-4xl);
  width: 68px;
  height: 68px;
}
.einkaufen5 {
  position: absolute;
  top: 32px;
  left: 385px;
}
.linie-2-icon5,
.linie-3-icon5 {
  position: absolute;
  top: 45.5px;
  left: 521px;
  width: 16.78px;
  height: 20.62px;
}
.linie-3-icon5 {
  left: 537.5px;
}
.linie-45,
.linie-55 {
  position: absolute;
  top: -0.5px;
  border-right: 1px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 2px;
}
.linie-45 {
  left: 261.5px;
  height: 104px;
}
.linie-55 {
  right: 329.5px;
  height: 101px;
}
.beste-angebote5,
.kontakt5 {
  position: absolute;
  top: 32px;
  left: 676px;
}
.kontakt5 {
  left: 1069px;
}
.linie-6-icon5,
.linie-7-icon5,
.linie-8-icon5,
.linie-9-icon5 {
  position: absolute;
  top: 41.5px;
  left: 898px;
  width: 16.78px;
  height: 20.62px;
}
.linie-7-icon5,
.linie-8-icon5,
.linie-9-icon5 {
  left: 914.5px;
}
.linie-8-icon5,
.linie-9-icon5 {
  top: 45.5px;
  left: 1184px;
}
.linie-9-icon5 {
  left: 1200.5px;
}
.ihre-einkaufsliste {
  position: absolute;
  top: 199px;
  left: 886px;
}
.web-1920-6 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1080px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-dimgray);
  font-family: var(--font-segoe-ui);
}
